<app-admin-navigation></app-admin-navigation>
<h1>Усі співробітники</h1>
@for (user of users; track user) {
    @if(user.isEdited){
        <div class="user-form">
            <input type="text" [(ngModel)]="user.name" placeholder="Ім'я">
            <input type="email" [(ngModel)]="user.email" placeholder="Email">
            <select [(ngModel)]="user.department">
                @for (department of departments; track department){
                    <option [ngValue]="department">{{department.name}}</option>
                }
            </select>
            <select [(ngModel)]="user.role" >
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
            <button (click)="saveUser(user)">Зберегти</button>
        </div>
    }
    @else{
        <div class="user-item">
            <span class="name">{{ user.name }}</span>
            <span class="email">{{ user.email }}</span>
            <span class="department">{{ user.department?.name || 'відділ' }}</span>
            <span class="role">{{ user.role }}</span>
            <button (click)="editUser(user)">Редагувати</button>
            <button (click)="deleteUser(user.id)">Видалити</button>
        </div>
    }

}
<button (click)="addUser()">Додати працівника</button>
