<app-admin-navigation></app-admin-navigation>
<h1>Усі співробітники</h1>
<div class="table-div">
    <div class="users-table">
        <span class="column-name">Ім'я</span>
        <span class="column-name">Email</span>
        <span class="column-name">Відділ</span>
        <span class="column-name">Роль</span>
        <div class="hidden"></div>
        @for (user of users; track user) {
            @if(user.isEdited){
                <input class="table-item user-form" type="text" [(ngModel)]="user.name" placeholder="Ім'я">
                <input class="table-item user-form" type="email" [(ngModel)]="user.email" placeholder="Email">
                <select class="table-item user-form" [(ngModel)]="user.department">
                    @for (department of departments; track department){
                        <option [ngValue]="department">{{department.name}}</option>
                    }
                </select>
                <select class="table-item user-form" [(ngModel)]="user.role" >
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
                <button class="save-button" (click)="saveUser(user)">Зберегти</button>
            }
            @else{
                <span class="table-item">{{ user.name }}</span>
                <span class="table-item">{{ user.email }}</span>
                <span class="table-item">{{ user.department?.name || 'відділ' }}</span>
                <span class="table-item">{{ user.role }}</span>
                <div class="buttons">
                <button class="edit-button" (click)="editUser(user)">
                        <img class="edit-button-icon" src="/assets/images/edit.svg">
                    </button>
                    <button class="edit-button" (click)="deleteUser(user.id)">
                        <img class="delete-button-icon" src="/assets/images/delete.svg">
                    </button>
                </div>
            }

        }
    </div>
</div>
<button class="add-button" (click)="addUser()">Додати працівника</button>
