<app-admin-navigation></app-admin-navigation>
<h1>Усі витрати</h1>
<div class="table-div">
    <div class="expenses-table">
        <span class="column-name">Вид</span>
        <span class="column-name">Робітник</span>
        <span class="column-name">Відділ</span>
        <span class="column-name">Сума</span>
        <span class="column-name">Дата</span>
        <div></div>
        @for (expense of allExpenses; track expense) {
            @if (expense.isEdited) {
                <select class="table-item expense-form" [(ngModel)]="expense.type">
                    @for (type of expenseTypes; track type) {
                        <option [ngValue]="type">{{type.name}}</option>
                    }
                </select>
                <select class="table-item expense-form" [(ngModel)]="expense.user">
                    @for (user of users; track user) {
                        <option [ngValue]="user">{{user.name}}</option>
                    }
                </select>
                <select class="table-item expense-form" [(ngModel)]="expense.department">
                    @for (department of departments; track department) {
                        <option [ngValue]="department">{{department.name}}</option>
                    }
                </select>
                <input class="table-item expense-form" type="number" placeholder="Сума" [(ngModel)]="expense.amount">
                <input class="table-item expense-form" type="date" [(ngModel)]="expense.date">
                <button class="save-button" (click)="saveChanges(expense)">Зберегти</button>
            }
            @else {
                <span class="table-item">{{ expense.type?.name }}</span>
                <span class="table-item">{{ expense.user?.name }}</span>
                <span class="table-item">{{ expense.department?.name }}</span>
                <span class="table-item">{{ expense.amount }}</span>
                <span class="table-item">{{ expense.date | date:'dd/MM/yyyy' }}</span>
                <div class="buttons">
                    <button class="edit-button" (click)="editExpense(expense)">
                        <img class="edit-button-icon" src="/assets/images/edit.svg">
                    </button>
                    <button class="edit-button" (click)="deleteExpense(expense.id)">
                        <img class="delete-button-icon" src="/assets/images/delete.svg">
                    </button>
                </div>
            }
        }
    </div>
</div>
<button class="add-button" (click)="addExpense()">Додати витрату</button>